<h3>新規メモ作成</h3>
<%= form_for @memo, url: memos_path, html: {method: :post} do |f| %>
  <% @memo.errors.full_messages.each do |message| %>
    <div class = "form-error">
      <%= message %>
    </div>
  <% end %>
  <div class="form-group">
    <%= label_tag "form-title", "title" %>
    <%= f.text_field :title, id:"form-title", class:"form-control", placeholder: "title"%>
  </div>
  <div class="form-group">
    <%= label_tag "form-content", "content" %>
    <%= f.text_field :body, id:"form-content", class:"form-control", placeholder: "content"%>
  </div>
  <div class="form-group">
    <%= label_tag "form-category", "category" %>
    <%= f.collection_select :category_id, @categories, :id, :name,{},{class:"form-control"} %>
  </div>
  <%= f.submit "作成" , class: "btn btn-primary"%>
<% end %>
