<!DOCTYPE html>
<html>
  <head>
    <title>MemoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="float-left">
        <%= link_to "MemoApp", "/", class:"navbar-brand"%>
      </div>
      <div class="float-right">
        <% if @current_user %>
          <%= link_to "ToDoリスト", "/memos/index", class:"navbar-brand" %>
          <%= link_to "新規メモ作成", "/memos/new", class:"navbar-brand"%>
          <%= link_to "ユーザー情報", "/users/#{@current_user.id}",class:"navbar-brand" %>
          <%= link_to "ログアウト", "/logout", method: :post,class: "navbar-brand"%>
          <div class="dropdown mr-1 navbar-brand">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
              カテゴリー
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
              <% @categories.each do |category| %>
                <li><%= link_to category.name, "/categories/#{category.id}" %></li>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to "MemoAppとは", "/about", class:"navbar-brand" %>
          <%= link_to "ログイン", "/login", class:"navbar-brand" %>
        <% end %>
      </div>
    </nav>
    <% if flash[:notice] %>
     <div class = "flash">
       <%= flash[:notice] %>
     </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
